---
---

$text_color: #d6d7a6
$link_color: #d0d356
$bg_color: rgba(23,21,21, .9)
// $bg_color: rgba(83,69,109, .9)
// $bg_color: rgba(232,194,75, .9)

@import 'fonts'
@import 'lang'
@import 'belt'
@import 'about'
@import 'works'
@import 'work_desc'

body, html
	overflow: hidden
	font-size: 0px
	font-family: 'PT_Sans'

body, html, h1, h2, img, ul, li, a, p
	padding: 0px
	margin: 0px

h1, h2
	letter-spacing: 1px

p
	margin: 8px 0px

ul
	list-style-type: none
	font-size: 0px

div
	box-sizing: border-box

a
	color: $link_color
	&:hover
		text-decoration: none

.parent_cnt
	background-size: cover
	background-position: right bottom
	background-image: url("../img/background.jpg")
