.works_cnt

.works_cnt_inner
	width: 960px
	margin: auto
	@media (max-width: 960px)
		width: 480px	
	@media (max-width: 480px)
		width: 240px

	ul
		padding-top: 12px

		a
			display: inline-block
			margin: 0px
			padding: 0px
			height: 150px

	li
		display: inline-block
		width: 230px
		height: 140px
		position: relative
		margin: 5px
		box-shadow: 0px 0px 5px 1px rgba(33,41,26, .7)

		&:hover
			cursor: pointer

		&:hover .work_load
			cursor: pointer
			height: 100%

		&:hover .work_load strong
			opacity: 1
			transition: 1s

	img
		width: 100%
		height: 140px

	a
		display: inline-block
		font-size: 18px
		color: $text_color
		text-decoration: underline
		margin-left: 10px

		&:hover
			cursor: pointer
			text-decoration: none

.work_load
	position: absolute
	top: 0px
	transition: 0.5s
	font-size: 20px
	background-color: rgba(33,41,26, .97)
	width: 100%
	height: 0%
	text-align: center

	strong
		opacity: 0
		line-height: 140px
		text-transform: uppercase

.works_header
	height: 60px
	background-color: $bg_color
	border-radius: 4px
	box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 1)

	h1
		color: $text_color
		font-size: 32px
		text-align: center
		line-height: 60px